/* Breakpoints */
@custom-media --max-mobile (width < 600px);
@custom-media --min-tablet (width >= 600px);
@custom-media --max-tablet (width < 960px);
@custom-media --min-desktop (width >= 960px);
@custom-media --max-desktop (width < 1100px);
@custom-media --min-desktop-large (width >= 1100px);
@custom-media --min-desktop-xlarge (width >= 1280px);
@custom-media --min-desktop-xxlarge (width >= 1440px);
@custom-media --min-desktop-xxxlarge (width >= 1600px);

:root {
    /* Colors */
    --main-color: #3D8FCB;
    --light-color: #FFFFFF;
    --black-color: #000000;
    --text-color: #BDBDBD;
    --gray-color: #F5F5F5;
    --gray-medium: #E0E0E0;
    --warning-color: #FF8400;
    --error-color: #F54B5E;

    /* fonts */
    --primary-font: 'Multy';
    --secondary-font: 'Raleway';

    /* Others */
    --box-shadow: 0px 8px 16px rgba(48, 49, 51, .1), 0px 0px 1px rgba(48, 49, 51, .05);
    --main-easing: cubic-bezier(.42, 0, .58, 1);
    --main-transition: .3s var(--main-easing);

    /* Browsehappy */
    --browsehappy-background: #3A4A5B;
    --browsehappy-background-secondary: #2E3B49;
    --browsehappy-color: #FFFFFF;
}
